DB_HOST=localhost
DB_USER=root
DB_PASSWORD=hellospiral123
DB_NAME=library_tracker

# Hardware Connection Settings
CONNECTION_MODE=WIFI
READER_IP=10.216.31.160  # <-- Put the IP from your phone hotspot here
READER_PORT=49152